#bar_contacto {
    background-color: #179bd7;
    font-size: 11px;
}
.navbar{
    background-color:transparent !important;
}
#links_navegacion {
    background-color: transparent;
}
.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}
#links_navegacion {
    padding: 12px;
    padding-right: 30px;
}

#menu_navegacion a {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

#navbarBasicExample {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-height:30px;
}

.navbar_fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

#noticias_uam{
    list-style: disc;
    margin-left: 30px;
    margin-right: 30px;
}

#menu_navegacion a:hover {
    border-bottom:1px solid white;
    background-color:transparent;
}

.contact_info {
    padding: 12px;
    color: white !important;
    font-family: "Lato", Sans-serif;
}

    .contact_info a {
        color: white !important;
    }

        .contact_info a:hover {
            color: white !important;
        }

.is-bold {
    font-weight: bolder;
}
[data-animation="fadeInRight"]{
    opacity:0;
}
[data-animation="fadeInLeft"] {
    opacity: 0;
}

li {
    list-style: none;
}

.escool-negativo {
    display: contents;
}

.escool-strong {
    color: #ffffff
}

.textwidget {
    text-align: center;
}

.scroll {
    max-height: 340px;
    overflow: auto !important;
    background: #fff;
}

.acerca-de {
    display: inline-block;
    width: 100%;
}

.menu li {
    display: inline;
    padding-right: 20px;
    font-size: 1rem;
}


.oscurecer {
    width: 200px;
}

.efecto_blur {
    backdrop-filter: blur(6px) contrast(70%);
    background-color: #00000066;
    border-radius: 25px;
    padding:30px;
}

/* RESET STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

    .chart-skills *,
    .chart-skills::before {
        box-sizing: border-box;
    }

.chart-skills2 {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

    .chart-skills2 *,
    .chart-skills2::before {
        box-sizing: border-box;
    }

/* CHART-SKILLS STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.chart-skills {
    position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}

    .chart-skills::before,
    .chart-skills::after {
        position: absolute;
    }

    .chart-skills::before {
        content: '';
        width: inherit;
        height: inherit;
        border: 45px solid #00a3e5;
        border-bottom: none;
        border-top-left-radius: 175px;
        border-top-right-radius: 175px;
    }

    .chart-skills::after {
        content: '';
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        font-size: 1.1rem;
        font-weight: bold;
        color: cadetblue;
    }

    .chart-skills li {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: inherit;
        border: 45px solid;
        border-top: none;
        border-bottom-left-radius: 175px;
        border-bottom-right-radius: 175px;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        animation-fill-mode: forwards;
        animation-duration: .8s;
        animation-timing-function: linear;
    }

        .chart-skills li:nth-child(1) {
            z-index: 4;
            border-color: #a9d000;
            animation-name: rotate-one;
        }


    .chart-skills span {
        position: absolute;
        font-size: .85rem;
        backface-visibility: hidden;
        animation: fade-in .4s linear forwards;
    }

.chart-skills2 li:nth-child(1) span {
    top: 5px;
    left: 10px;
    transform: rotate(-21.6deg);
}

.chart-skills2 {
    position: relative;
    width: 350px;
    height: 175px;
    overflow: hidden;
}

    .chart-skills2::before,
    .chart-skills2::after {
        position: absolute;
    }

    .chart-skills2::before {
        content: '';
        width: inherit;
        height: inherit;
        border: 45px solid #a9d000;
        border-bottom: none;
        border-top-left-radius: 175px;
        border-top-right-radius: 175px;
    }

    .chart-skills2::after {
        content: '';
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        font-size: 1.1rem;
        font-weight: bold;
        color: cadetblue;
    }

    .chart-skills2 li {
        position: absolute;
        top: 100%;
        left: 0;
        width: inherit;
        height: inherit;
        border: 45px solid;
        border-top: none;
        border-bottom-left-radius: 175px;
        border-bottom-right-radius: 175px;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        animation-fill-mode: forwards;
        animation-duration: .8s;
        animation-timing-function: linear;
    }

        .chart-skills2 li:nth-child(1) {
            z-index: 4;
            border-color: #00a3e5;
            animation-name: rotate-two;
        }


    .chart-skills2 span {
        position: absolute;
        font-size: .85rem;
        backface-visibility: hidden;
        animation: fade-in 1.0s linear forwards;
    }

    .chart-skills2 li:nth-child(1) span {
        top: 5px;
        left: 10px;
        transform: rotate(-21.6deg);
    }

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes rotate-one {
    100% {
        transform: rotate(162deg);
        /**
     * 12% => 21.6deg
     */
    }
}

@keyframes rotate-two {
    100% {
        transform: rotate(90deg);
        /**
     * 12% => 21.6deg
     */
    }
}

@keyframes fade-in {
    0%, 90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.counter {
    text-align: center;
    font-size: 100px;
}

.link {
    color: #f9bf00;
}
    /* CSS link color (red) */
    .link:hover {
        color: #ffffff;
    }
/* CSS link hover (green) */


.AlinaciondeDiv {
    display: flex ;
flex-direction: row-reverse ;
flex-wrap: wrap-reverse ;
justify-content: center ;
align-items: center ;
align-content: stretch ;
}

.es_visible {
    background-color: #179bd7;
}

.button.is-info {
    background-color: #0d4c9c;
}
.is-font-adam{
    font-family:Adam-Medium;
}
.is-font-adam-bold {
    font-family: Adam-Bold;
}

@font-face {
    font-family: 'Adam-Medium';
    src: url('../fonts/Adam-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Adam-Light';
    src: url('../fonts/Adam-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Adam-Bold';
    src: url('../fonts/Adam-Bold.ttf') format('truetype');
}

@media screen and (max-width: 1023px) {
    .navbar {
        background-color: #0d4c9c !important;
    }
}